
ul {
    list-style-type: none;
    margin: 0px;
    padding:01px;
    overflow: hidden;
    background-color: grey;

}
.flex-container > div {
    font-size: 30px;
    width: 100%;

}
.flex-container {
    display: flex;
    align-items: center;
    margin-left:13vw;
    margin-right: 10vw;
    width: 80vw;

}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 90px;
    text-decoration: none;
    font-family: "Josefin Sans";
    transition: 0.6s ease;

}



/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
body{
    background-image: url("LandingBackground.jpg");
    opacity: 92%;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;

}

h1{
    text-align: center;
    font-size: 60px;

    color: white;
    transition: 0.6s ease;
}

h2{
    text-align: center;
    font-size: 20px;
    font-family: "Josefin Sans";
    font-weight: lighter;
    color: white;
}

img{

    filter: brightness(70%);
    border: white;


}
.flex-container1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;

}
.flex-container1 > div{
    font-size: 20px;
    font-family: "Josefin Sans";

    color: white;
}



img:hover{
    filter: grayscale(0%);
    transition: 0.5s ease;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);

}
